* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1.5;
	@apply bg-main
}

h1,
h2,
h3,
.h3 {
	font-family: var(--Montserrat);
	color: white;
}

h1 {
	font-size: 3.3rem;
	font-weight: 700;
}

h3,
.h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

p,
pre,
input,
textarea {
	font-size: 1rem;
	@apply bg-transparent outline-none text-text-color
}
main {
	@apply text-text-color w-full h-full relative z-20
}
*::-webkit-scrollbar {
	width: 0px;
}
main::-webkit-scrollbar-thumb {
	background-color: rgb(74, 69, 79);
}
textarea::-webkit-scrollbar-thumb {
	background-color: rgb(163, 163, 163);
}